<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    
    <bean id="imageSearcher" class="com.dart.archive.image.search.surf.InterestPointsSearcher"
        lazy-init="true">
       <constructor-arg value="/Users/massimiliano.gerardi/dart/images/Trudgeon/1to49"></constructor-arg>
       <property name="threshold" value="0.35"/>
    </bean>
    
</beans>
